[submodule "3rdparty/SDL3"]
	path = 3rdparty/SDL3
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "3rdparty/bgfx"]
	path = 3rdparty/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "3rdparty/bimg"]
	path = 3rdparty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "3rdparty/bx"]
	path = 3rdparty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "3rdparty/genie"]
	path = 3rdparty/genie
	url = https://github.com/bkaradzic/GENie.git
